{% extends 'base.html' %}
{% block content %}

<div class="container mb-3">
<h1 class="text-center">Our Doctors</h1><hr>
{% for d in doc %}
<div class="card mx-auto my-3" style="width: 18rem;">
  <img class="card-img-top" src="{{d.doc_image.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{d.doc_name}}</h5>
    <p class="card-text">{{d.doc_spec}}</p>
    <a href="#" class="btn btn-primary">{{d.dep_name}}</a>
    {% for s in d.dep_name_set.all %}

          <p>{{s.dep_desc}}</p>

    {% endfor %}
  </div>

</div>
  {% endfor %}

</div>
{% endblock %}